@font-face{
  font-family: "Exo2 Thin";
  src: url("../fonts/Exo2.0-Thin.ttf") format("truetype"),
  url("../fonts/Exo2.0-Thin.woff") format("woff"),
  url("../fonts/Exo2.0-Thin.woff2") format("woff2");
}


@font-face{
  font-family: "Trebuchet MS";
  src: url("../fonts/TrebuchetMS.ttf") format("truetype"),
  url("../fonts/TrebuchetMS.woff") format("woff"),
  url("../fonts/TrebuchetMS.woff2") format("woff2");
}
